* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

table {
  display: contents;
  text-align: center;
  border-collapse: collapse;
}

th,
tr,
td {
  padding: 2px;
}

table .header th {
  border-bottom: 1px solid #888;
}

.winner img {
  border: 3px solid green;
}

.loser img {
  border: 3px solid red;
}

.winner .team-name,
.positive {
  color: green;
}

.loser .team-name,
.negative {
  color: red;
}

.calendar-logo {
  border-radius: 50px;
  width: 50px;
  margin: 5px 0px;
  box-shadow: 0 10px 17px rgba(0, 0, 0, 0.35);
}

.logo-filter {
  border-radius: 50px;
  width: 50px;
  margin: 5px 0px;
  box-shadow: 0 10px 17px rgba(0, 0, 0, 0.35);
}

.team-filter {
  padding-bottom: 30px;
}

.team-filter img {
  cursor: pointer;
  margin: 0 10px;
}

.logo-filter.team-selected {
  border: 3px solid #ff7500;
  box-shadow: 0 10px 17px rgba(255, 117, 0, 0.35);
}

.captain {
  padding: 0 5px;
  font-weight: bold;
  color: #ff7500;
  border-radius: 50px;
}

.legend {
  padding: 10px;
  text-align: center;
}

.legend-title {
  font-weight: bold;
  padding: 10px;
}

.legend span {
  font-weight: bold;
  padding-left: 10px;
}

.rating,
.rank {
  font-style: italic;
  font-size: 0.8rem;
  color: #888;
}

.game {
  margin: 0px 10px;
}

.team-name {
  padding: 0px 10px;
  text-transform: capitalize;
}

.team-record {
  padding: 0px 10px;
  color: #999;
  font-size: 0.8rem;
}

.spinner-text {
  font-weight: bold;
  padding: 5px;
}

.confrontation {
  display: flex;
  border-radius: 15px;
  border: 1px solid #ff7500;
  background-color: #ffebd9;
  transition: all 0.2s ease-in-out;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
}

.score {
  display: flex;
}

.innings td,
.innings th {
  color: #999;
}

.page-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.page-title select {
  margin: 0px 10px;
  border-color: #eee;
  border-radius: 4px;
  padding: 4px;
}

.spacer {
  flex: 1;
}

.stats .name {
  text-align: left;
}

.stats img {
  width: 35px;
}

.stats {
  overflow-x: auto;
  border-radius: 15px;
  border: 1px solid #eee;
  background-color: #fafafa;
  padding: 20px;
  margin: 0 10px 20px;
  box-shadow: 0 10px 17px rgba(0, 0, 0, 0.35);
}

.stats table td,
.stats table tr {
  padding: 0 10px;
}

.ranking {
  border-radius: 15px;
  border: 1px solid #eee;
  background-color: #fafafa;
  padding: 20px 10px;
  margin-bottom: 20px;
  box-shadow: 0 10px 17px rgba(0, 0, 0, 0.35);
}

.ranking table td,
.ranking table tr {
  padding: 5px;
}

.date {
  padding: 5px;
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
}

.date-card {
  border-radius: 15px;
  border: 1px solid #eee;
  background-color: #fafafa;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0 10px 17px rgba(0, 0, 0, 0.35);
}

.time {
  padding: 5px;
  font-style: italic;
  font-weight: bold;
}

.team a:hover .team-name {
  color: #ff7500;
}

.team a:hover img {
  border: 0.25rem solid #ff7500;
  box-shadow: 0 10px 17px rgba(255, 117, 0, 0.35);
}

.team a,
.team .team-group {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #ff7500;
  color: white;
  font-weight: 600;
  box-shadow: 0 10px 17px rgba(0, 0, 0, 0.35);
  justify-content: center;
}

.toolbar img {
  padding-top: 50px;
}

.content {
  display: flex;
  margin: 140px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

svg.material-icons {
  height: 24px;
  width: auto;
}

svg.material-icons:not(:last-child) {
  margin-right: 8px;
}

.card i {
  color: #888;
  padding-right: 5px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 16px;
}

.card {
  all: unset;
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  height: 40px;
  min-width: 100px;
  margin: 0 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.card-container .card:not(:last-child) {
  margin-right: 0;
}

.card.card-small {
  height: 16px;
  width: 168px;
}

.card-container .card:not(.highlight-card) {
  cursor: pointer;
}

.card-container .card:not(.highlight-card):hover,
.card-container .confrontation:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.card-container .card:not(.highlight-card):hover i {
  color: #ff7500;
}

.card.highlight-card {
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  border: none;
  width: auto;
  min-width: 30%;
  position: relative;
}

.card.card.highlight-card span {
  margin-left: 60px;
}

a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #ff7500;
}

.circle-link {
  height: 40px;
  width: 40px;
  border-radius: 40px;
  margin: 8px;
  background-color: white;
  border: 1px solid #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: 1s ease-out;
}

.circle-link:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  line-height: 20px;
}

footer a {
  display: flex;
  align-items: center;
}

.github-star-badge {
  color: #24292e;
  display: flex;
  align-items: center;
  font-size: 12px;
  padding: 3px 10px;
  border: 1px solid rgba(27, 31, 35, 0.2);
  border-radius: 3px;
  background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
  margin-left: 4px;
  font-weight: 600;
}

.github-star-badge:hover {
  background-image: linear-gradient(-180deg, #f0f3f6, #e6ebf1 90%);
  border-color: rgba(27, 31, 35, 0.35);
  background-position: -0.5em;
}

.github-star-badge .material-icons {
  height: 16px;
  width: 16px;
  margin-right: 4px;
}

svg#logo {
  position: fixed;
  bottom: -160px;
  z-index: -10;
  width: 1920px;
}

.loader {
  border: 5px solid #ddd; /* Light grey */
  border-top: 5px solid #ff7500; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
  .legend {
    width: 95vw;
  }

  .stats {
    width: 95vw;
    padding: 20px 10px;
  }

  .ranking .team-name {
    display: none;
  }

  .card {
    padding: 8px;
    height: 16px;
    margin: 0 5px;
  }

  .ranking table td,
  .ranking table tr,
  .ranking table th {
    padding: 5px;
  }

  .game {
    margin: 0px;
    margin-bottom: 5px;
    width: 95%;
  }

  .date-card {
    padding: 0px;
    padding-top: 10px;
  }

  .content {
    padding: 0px;
  }

  .card.highlight-card span {
    margin-left: 72px;
  }
}
